.card-class{
    margin: 3%;
    width: 18%;
    text-align: left;
    float: left;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 16px;
}

.chat {
  width: 60%;
  margin: 25px;
}

.chat-active {
  width: 100% !important;
  margin: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
